{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":2,"column":0},"end":{"row":2,"column":1},"action":"insert","lines":["."],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":1},"end":{"row":2,"column":1},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1567380917601,"hash":"4c1f8bde100c27f6850ce6ee16aa30a30693db90"}